@import '../variables/index.scss';

.global-dialog {
    @media screen and (max-width: $smAndBelow) {
        .MuiPaper-root {
            width: 100%;
            position: absolute;
            bottom: 0;
            margin-bottom: 0;
            height: 80%;
            border-radius: 20px 20px 0 0;
            overflow: hidden;
            overflow-y: auto;
        }
    }
}

.sign-in-form {
    width: 100%;

    &__inputs {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 400px;

        @media screen and (max-width: $smAndBelow) {
            width: auto;
        }
    }

    &__submit {
        display: flex;
        padding: 10px;

        button {
            width: 100%;
            padding: 10px;
        }
    }

    &__google {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
}
