.home-page {
    overflow: hidden;
    &__slider {
        .swiper-slide-shadow {
            background: transparent !important;
        }

        &__content {
            height: 400px;
            display: flex;
            justify-content: center;

            @media screen and (max-width: $smAndBelow) {
                height: 200px;
            }
        }

        &__products-content {
            display: flex;
            justify-content: center;
        }
    }

    &__products {
        background-color: $white;
        margin: 20px 5px 5px;
        padding: 5px 0;
        border-radius: 15px;
        box-shadow: 0 0 5px rgba($black, 0.3);

        &__title {
            font-size: 32px;
            color: $black;
            text-transform: capitalize;
            font-weight: 100;
            margin-bottom: 8px;
            text-align: center;

            @media screen and (max-width: $xlAndBelow) {
                padding-left: 5px;
            }
        }

        &__list {
            padding-top: 20px;
            display: grid;
            justify-items: center;
            row-gap: 15px;
            grid-template-columns: repeat(4, 1fr);

            @media screen and (max-width: $xlAndBelow) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media screen and (max-width: $lgAndBelow) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (max-width: $smAndBelow) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}
