.home-page {
    overflow: hidden;
    &__slider {
        .swiper-slide-shadow {
            background: transparent !important;
        }

        &__content {
            height: 400px;
            display: flex;
            justify-content: center;

            @media screen and (max-width: $smAndBelow) {
                height: 200px;
            }
        }

        &__products-content {
            display: flex;
            justify-content: center;
        }
    }

    &__products {
        background-color: $white;
        margin: 20px 5px 5px;
        padding: 10px 0 10px;
        border-radius: 15px;
        box-shadow: 0 0 5px rgba($black, 0.3);

        &__title {
            font-size: 32px;
            color: $black;
            text-transform: capitalize;
            font-weight: 100;
            margin: 10px 0;
            text-align: center;
        }

        &__list {
            padding: 20px 0;
            display: grid;
            justify-items: center;
            row-gap: 15px;
        }
    }
}
