.users-page {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $xlAndBelow) {
        padding: 0 5px;
    }

    &__actions {
        padding: 10px 0;
        display: flex;
        gap: 10px;
    }

    &__low-amount {
        background-color: $orange;
    }

    &__empty {
        background-color: $red;
    }
}
